<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXRrsirzGgNmpMbIYzEfEf1BNdcU_DXpI</string>
	<key>GCM_SENDER_ID</key>
	<string>455837622939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumeAiApp</string>
	<key>PROJECT_ID</key>
	<string>resumeai-258e7</string>
	<key>STORAGE_BUCKET</key>
	<string>resumeai-258e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455837622939:ios:f04ced0c8dd688fdfc1c3e</string>
</dict>
</plist>